<!-- <div *ngIf="user"> -->
  <h2 class="page-header"></h2>
  <ul class="list-group">
    <!-- <li class="list-group-item"> {{currentUser.username}}</li>
    <li class="list-group-item"> {{currentUser.email}}</li> -->
  </ul>
  <div class="card mb-3">
    <h3 class="card-header">Your Profile</h3>
    <div class="card-body">
      <h5 class="card-title"><pre>Name:                                                                                 {{currentUser.name}}</pre></h5>
      <h5 class="card-title"><pre>Username:                                                                             {{currentUser.username}}</pre></h5>
      <h5 class="card-title"><pre>Email:                                                                                {{currentUser.email}}</pre></h5>
      <h5 class="card-title"><pre>Subscribtion type:                                                                    Premium</pre></h5>
      <!-- <h6 class="card-subtitle text-muted">Support card subtitle</h6> -->
    </div>
    <!-- <img style="height: 200px; width: 20%; display: block;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1200px-Circle-icons-profile.svg.png" alt="Card image"> -->
    <div class="card-body">
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
    <!-- <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div> -->
    <div class="card-footer text-muted">

    </div>
  </div>
