mat-header-cell {
    display:flex;
    justify-content:flex-end;
   }

th{
align-items: stretch;

}

table {
    display: flex;
    justify-content:flex-end;
    position: static;
  }

  float {
    float: both;
  }