#footer {
  width: 898px;
  font: normal 100% "lucida sans unicode", arial, sans-serif;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
