
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">EyeCandy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto navbar-left">
      <li class="nav-item active"  >
        <!-- <a [routerLink]="['/']">Home <span class="sr-only">(current)</span></a> -->
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto navbar-right">
        <li  class="nav-item2 space">
            <!-- <a *ngIf="!isHome Route()" [routerLink]="['/login']">Login</a> -->
        </li>
        <li  class="nav-item2 space">
            <!-- <a *ngIf="isHomeRoute()" [routerLink]="['/']" >Logout</a> -->
        </li>
        <!-- <li  class="nav-item2 space">
            <a *ngIf="isHomeRoute()" [routerLink]="['/#']">Logout</a>
        </li> -->
      </ul>
    </div>
    <a  class="navbar-brand" *ngIf="isHomeRoute()" [routerLink]="['/dashboard']" >Dashboard</a>
    <a  class="navbar-brand" *ngIf="isHomeRoute()" [routerLink]="['/profile']" >Profile</a>
    <a  class="navbar-brand" *ngIf="isHomeRoute2()" [routerLink]="['/']" >Logout</a>
    <!-- <a  class="navbar-brand" *ngIf="isHomeRoute1()" [routerLink]="['/about']" >About</a> -->


</nav>